{% extends 'base/base.html' %}

{% block content %}
{% if next %}
    {% if user.is_authenticated %}
    <p style="color: ;">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
        <center><p style="columns: green;">Please login to see this page.</p></center>
    {% endif %}
{% endif %}
    <body>
    <center>
            <div class="container">
        <form class="form-horizontal" role="form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2>Login</h2>
                    <hr>
                </div>
            </div>
            {% if form.errors %}
        <center><p>Your username and password didn't match. Please try again.</p></center>
            {% endif %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            {{ form.username }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon"><i class="fa fa-key"></i></div>
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                </div>
            </div>
            <br>
        </form>
    </div>
    </center>
    </body>
{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
